<div class="jumbotron jumbotron-fluid">
  <div class="main">
    <div class="row">
      <% if @articles.collect(&:image).detect(&:attached?) %>
        <div class="featured p-3 col-9" style= "background-image: url(<%= rails_blob_url(main_image) %>);">
            <div class="featured_text">
              <p class="icons1 text-white"><%= main_article_title%></p>
              <p class="text-white">Votes: <%= count_votes %></>
            </div>
        </div>
      <% else %>
        <div class="featured p-3 col-9" style= "background-image: url('/assets/img2.jpeg');">
            <div class="featured_text">
              <p class="icons1 text-white">Default Article</p>
            </div>
        </div>
      <% end %>
        <div class="col-3" style= "background-image: url('/assets/img3.jpg');">
          <p class="text-white">Sports</p>
        </div>
    </div>
    <div class="second row">
      <div class="col-3" style= "background-image: url('/assets/img1.jpg');">
        <p class="text-white"><%= link_to 'Shooters', articles_path(:name => "Shooters") %></p>
      </div>
      <div class="col-3" style= "background-image: url('/assets/img5.jpg');">
        <p class="text-white">RPG</p>
      </div>
      <div class="col-3" style= "background-image: url('/assets/img4.jpg');">
        <p class="text-white">Adventure</p>
      </div>  
      <div class="col-3" style= "background-image: url('/assets/img.jpg');">
        <p class="text-white">Classics</p>
      </div>
    </div>  
    <hr>  
    <div class="text-center">    
      <h1 class="display-3">Olympus Gaming Hub</h1>
      <p class="lead">Get the latest releases on gaming. Vote for your favorite games and explore new ones on our category based engine</p>
      <p class="lead">Welcome</p>
      <hr>
      <h1 class="display-4">Forum</h1>
      <div class="card">
        <ul id="articles" class="card-body">
          <% @articles.each do |article| %>
            <li class="text-body d-flex p-2 bd-highlight">
              <%= link_to article.title, article%>
            </li>
            <li class="text-muted d-flex p-2 bd-highlight">
              <%= article.text %>
            </li>
            <hr id="art-between">
          <% end %>
        </ul>
      </div>
      <form class="lead mt-5">
            <%= link_to "Register NOW!",   new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </form>
      <div id="categories" class="mt-3">
        <% @categories.each do |category| %>
          <%= link_to category.name, articles_path(:cate => category.id) %>
        <% end %>
      </div>
    </div>
  </div>
</div>