<div id="show" class="container jumbotron">
    <h1><%= @article.title %></h1>
    <p><%= @article.text %></p>
    <h1>Category: <%= @article.category.name %></h1>
    <small class="d-flex flex-start flex-direction-row">
        <% if @article.image.attached? %>
            <%= image_tag @article.image.variant(resize: "200x200") %>
        <% end %>
        <% if !current_user.voted_articles.ids.include?(@article.id) %>
            <span> <%= @article.votes.count %> Votes </span>
            <i>
                <%= form_for(@vote)do | f | %>
                <%= f.hidden_field :article_id, value: @article.id%>
                <%= f.hidden_field :status, value: :true %>
                <%= f.submit "Vote" %>
                <% end %>
            </i>
        <% else %>
            <i>
                <span> <%= @article.votes.count %> Votes </span><br>
                <%= link_to 'Unvote', vote_path(current_user.votes.ids ), method: :delete %>
            </i>
        <% end %>
    </small>
</div>